<link rel="stylesheet" href="/static/css/main.css" type="text/css">
{% extends "base.html" %}
{% block body %}
{% if session['logged_in'] %}
 

     {% if listadoerrores %}
		<div class="container">
		  {% block content %}
		  <h1>Listado de Errores de Archivo de Ventas</h1>
		  <h2>Se visualizan al login. Las consultas del sistema funcionaran con los registros correctos</h2>
		  
		  

					<table>
							<tr> 	 	 	
									<th>ERROR</th>
				 
							</tr>
					{% for linea in listadoerror %}
							<tr>
								<td>{{linea[0]}}</td>
							</tr>
					<!--{ empty }<li>Sin ventas de productos.</li>-->
					{% endfor %}
					</table>
		  {% endblock %}
		</div>
		{% endif %}
{% else %}
<p> no esta logueado</p>
 
{% endif %}
{% endblock %}