<link rel="stylesheet" href="/static/css/style.css" type="text/css">
{% block body %}
{% if session['logged_in'] %}
<p>You're logged in already!</p>
{% else %}
 
 
<form action="/login" method="POST">
	<div class="login">
		<div class="login-screen">
			<div class="app-title">
				<h1>Inicio de Sesión</h1>
			</div>
 
			<div class="login-form">
				<div class="control-group">
				<input type="text" class="login-field" value="" placeholder="usuario" name="username">
				<label class="login-field-icon fui-user" for="login-name"></label>
				</div>
 
				<div class="control-group">
				<input type="password" class="login-field" value="" placeholder="clave" name="password">
				<label class="login-field-icon fui-lock" for="login-pass"></label>
				</div>
 
                <input type="submit" value="Ingresar" class="btn btn-primary btn-large btn-block" >
			   
				{% if msjerror %}
					<div class="app-title">
						<h3>{{msjerror}}</h3>
					</div>
				{% endif %}
			</div>
		 <br>
</form>
<form action="/olvidarclave" method="POST">
			 <div class="btn:hover">
				<input type="submit" value="Recordar Clave" name="forget"  class="btn btn-primary btn-large btn-block" >
							<br>
</form>
<form action="/registarusuario" method="POST">

 				<input type="submit" value="Registrarse" name="register"  class="btn btn-primary btn-large btn-block" >
			</div>			
		</div>
	</div>
</form>
 
{% endif %}
{% endblock %}