<link rel="stylesheet" href="/static/css/style.css" type="text/css">
{% block body %}
{% if session['logged_in'] %}
<p>You're logged in already!</p>
{% else %}
 
 
<div class="data">
		<div class="login-screen">

    <div class="container">
      {% block content %}
  	  {% if origen=="forget"%}
		<h2>Recuperacion de Clave</h2>
	  {% else %}
		<h2>Registro de Usuario</h2>
	  {% endif %}

	  <h1>Datos del Usuario</h1>

                <table border=1>
                        <tr>
                                <th>USUARIO</th>
                                <th>CLAVE</th>
                                <th>NOMBRE</th>
                                <th>APELLIDO</th>
                                <th>PREGUNTA SECRETA</th>
								<th>RESPUESTA SECRETA</th>
             
                        </tr>
                {% for linea in user %}
                        <tr>
							<td>{{linea[0]}}</td>
							<td>{{linea[1]}}</td>
							<td>{{linea[2]}}</td>
							<td>{{linea[3]}}</td>
							<td>{{linea[4]}}</td>
							<td>{{linea[5]}}</td>
                        </tr>
                <!--{ empty }<li>Sin ventas de productos.</li>-->
                {% endfor %}
                </table>
      {% endblock %}
    </div>
	<br>
	<a href="{{ url_for('home') }}" align="center" " class="btn btn-primary btn-large btn-block">Ir a Login</a>
</div>
</div>
 
 
{% endif %}
{% endblock %}