<link rel="stylesheet" href="/static/css/main.css" type="text/css">

{% extends "base.html" %}
{% block body %}
{% if session['logged_in'] %}
 

    <div class="container">
      {% block content %}
	  <h1>Listado de Ventas por Producto</h1>
			  <form action="/exportarventasproducto" method="POST">
				  <input name="reportname" type="text" value="ventasproducto" hidden>
				  <input name="origen" type="text" value="ventasproducto" hidden>
				  <input type="submit" value="Exportar Tabla">
				  {% if archivo %}
					<p>Archivo exportado en {{archivo}}</p>
				 {% endif %}
			  </form>
			  
				<form action="/buscarventasproducto" method="POST">
				  Nombre de Producto: &nbsp;
				  <input type="text" value="" name="producto">  &nbsp;
				  <input type="submit" value="Buscar">
				</form>
				
                {% if listado %}
					<table border=1>
							<tr>
									<th>CLIENTE</th>
									<th>CODIGO</th>
									<th>PRODUCTO</th>
									<th>CANTIDAD</th>
									<th>PRECIO</th>
				 
							</tr>
              
					{% for linea in listado %}
							<tr>
								<td>{{linea[0]}}</td>
								<td>{{linea[1]}}</td>
								<td>{{linea[2]}}</td>
								<td>{{linea[3]}}</td>
								<td> $ {{linea[4]}}</td>
							</tr>
					{% endfor %}
					</table>
				{% else %}
					<li>Sin ventas para el producto ingresado.</li>
				{% endif %}
      {% endblock %}
    </div>
{% else %}
<p> no esta logueado</p>
 
{% endif %}
{% endblock %}